category_encoders==2.6.4
matplotlib==3.9.2
numpy==1.24.2
pandas==2.2.3
python_dateutil==2.9.0.post0
scikit_learn==1.5.2
scikit_optimize==0.10.2
scipy==1.14.1
seaborn==0.13.2
wordcloud==1.9.3
xgboost==2.1.2
